<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link id="bootstrap-css" rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/theme-dark.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/chart-card.css">
    <link rel="stylesheet" href="css/list-pages.css">
    <link rel="stylesheet" href="css/tables.css">
    <link rel="stylesheet" href="css/editor-pages.css">
    <link rel="stylesheet" href="css/monitor.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="stylesheet" href="css/chart-settings-dropdown.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ClientManager.AdminUI.styles.css" />
    <title>ClientManager</title>
    <link rel="icon" href="favicon.svg" type="image/svg+xml" />
    <CultureBoot />
    <HeadOutlet @rendermode="@(new InteractiveServerRenderMode(prerender: true))" />
</head>
<body>
    <Routes @rendermode="@(new InteractiveServerRenderMode(prerender: true))" />
    <ReconnectModal />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="js/reconnect-modal.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
