<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.DiagnosticSource" />
    <add assembly="NLog.Targets.ElasticSearch" />
  </extensions>

  <variable name="jsonLayout">
    <layout type="JsonLayout" includeEventProperties="true">
      <attribute name="timestamp" layout="${longdate}" />
      <attribute name="level" layout="${level:uppercase=true}" />
      <attribute name="traceId" layout="${activity:property=TraceId}" />
      <attribute name="spanId" layout="${activity:property=SpanId}" />
      <attribute name="correlationId" layout="${scopeproperty:CorrelationId}" />
      <attribute name="logger" layout="${logger}" />
      <attribute name="message" layout="${message:raw=true}" />
      <attribute name="exception" layout="${exception:format=tostring}" />
    </layout>
  </variable>

  <targets async="true">
    <target name="console"
            xsi:type="Console"
            layout="${jsonLayout}" />

    <target name="file"
            xsi:type="File"
            fileName="${basedir}/logs/clientmanager-storageapi-${shortdate}.log"
            layout="${jsonLayout}"
            archiveEvery="Day"
            maxArchiveFiles="14"
 />

    <target name="elastic"
            xsi:type="ElasticSearch"
            index="clientmanager-storageapi-logs-${date:format=yyyy.MM.dd}"
            uri="${configsetting:item=Logging.Elasticsearch.Uri}"
            requireAuth="false"
            includeAllProperties="true">
      <field name="traceId" layout="${activity:property=TraceId}" />
      <field name="spanId" layout="${activity:property=SpanId}" />
      <field name="logger" layout="${logger}" />
      <field name="machineName" layout="${machinename}" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <logger name="ClientManager.StorageApi.*" minlevel="Debug" writeTo="console,file" />
    <logger name="ClientManager.StorageApi.*" minlevel="Info" writeTo="elastic" />
  </rules>
</nlog>