<aside class="cm-sidebar">
    <div class="cm-sidebar__brand">
        <div class="cm-sidebar__brand-icon">CM</div>
        <span class="cm-sidebar__brand-name">ClientManager</span>
    </div>

    <ul class="cm-sidebar__nav">
        <li class="cm-sidebar__nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="dashboard" class="cm-sidebar__nav-icon" />
                Dashboard
            </NavLink>
        </li>
        <li class="cm-sidebar__nav-item">
            <NavLink class="nav-link" href="clients">
                <RadzenIcon Icon="people" class="cm-sidebar__nav-icon" />
                Clients
            </NavLink>
        </li>
        <li class="cm-sidebar__nav-item">
            <NavLink class="nav-link" href="services">
                <RadzenIcon Icon="build" class="cm-sidebar__nav-icon" />
                Services
            </NavLink>
        </li>
        <li class="cm-sidebar__nav-item">
            <NavLink class="nav-link" href="resource-pools">
                <RadzenIcon Icon="hub" class="cm-sidebar__nav-icon" />
                Resource Pools
            </NavLink>
        </li>
        <li class="cm-sidebar__nav-item">
            <NavLink class="nav-link" href="global-rate-limits">
                <RadzenIcon Icon="speed" class="cm-sidebar__nav-icon" />
                Global Rate Limits
            </NavLink>
        </li>
        <li class="cm-sidebar__nav-item">
            <NavLink class="nav-link" href="allocations">
                <RadzenIcon Icon="swap_horiz" class="cm-sidebar__nav-icon" />
                Active Allocations
            </NavLink>
        </li>
    </ul>

    <div class="cm-sidebar__footer">
        <div class="cm-sidebar__nav-item">
            <a href="#" class="nav-link">
                <RadzenIcon Icon="settings" class="cm-sidebar__nav-icon" />
                Settings
            </a>
        </div>
    </div>
</aside>
