@* Reusable skeleton placeholder block *@
<div class="cm-skeleton @CssClass" style="@Style"></div>

@code {
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter] public string Style { get; set; } = "";
}
